.swiper-wrapper{

}


.swiper-slide{
    width:100px;
    /* padding:0 1%; */
}
.img-slider{
    /* width:100%; */
    /* height: 100px; */
}
.swiper-slide-prev .img-slider{
    transform: rotateY(-45deg);
    
}
.swiper-slide-next .img-slider{
    /* background-color: red; */
    transform: rotateY(45deg);

}
.swiper-slide-active{
    transform: scale(1.5);
}