.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
  font-family: 'Poppins';
}
.brand {
  /* padding: 0 4rem; */
  display:flex;
  justify-content: center;
  align-items: center;
  /* width:100%; */
}
.brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .brand-logo {
  width: 50px;
  height: 50px;
  background-color: #e53535;
  border-radius: 50%;
} */
.brand-main {
  padding: 10%;
  font-weight: 600;
}
.brand-logo{
  width:50%;
  height:50%;
}
.navContent {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  font-weight: 500;
  font-size: 20px;
}
.nav-second-part{
  width:100%;
  display:flex;
  justify-content: end;
}
.link-home{
  text-decoration: none;
  color:black;
}
.link-about-us,
.link-product,
.link-client,
.link-career,
.link-home {
  text-decoration: none;
  color: black;
}
.nav-part,
.nav-part-home {
  padding: 5% 2%;
}
.nav-part-home {
  background-color: black;
  border-radius: 20px;
}
.link-home {
  color: white;
}

/* Mobile Version */
.navbar-mobile-main {
  transition: all;
  display:flex;
  justify-content: space-between;
  width:100%;
}
.navbar-mobile-flex1{
  width:100%;
}
.drop-down {
  transition: 0.5s;
}
.nav-icon-wrapper {
  padding: 2rem 1rem;
}
.bars {
  cursor: pointer;
}
.nav-mob-item {
  padding: 2% 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.nav-link {
  text-decoration: none;
  color: white;
}

.brand-mob{
  width:100%;
  display:flex;
  justify-content: end;
  align-items: center;
}
.brand-mob-logo{
  /* padding:0 10% 10% 10%; */
  width:30%;
  height:30%;
}
.link-home-mobile{
  display: flex;
  justify-content: end;
  width:100%;
}
.brand-name-mob{
  color:white;
  display: flex;
  justify-content: end;
  align-items: center;
  /* width:100%; */
}
.brand-logo-mob{
  width: 20px;
  height: 20px;
  background-color: #e53535;
  border-radius: 50%;
}
.brand-logo-icon{
  width:30%;
  height:30%;
}
.brand-main-mob{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width:100%;
  display:flex;
  justify-content: end;
}