.our-products {
    background-color: black;
    position: relative;
    width: 100%;
}

/* Products Heading */
.heading {
    position: relative;
    height: 30vh;
}

.head-image-resp {
    display: none;
}

.head-img-our-products {
    width: 100%;
    height: 100%;
}

.head-content {
    text-align: center;
    font-family: "Poppins";
    font-weight: 900;
    font-size: 4rem;
    position: absolute;
    bottom: 30%;
    width: 100%;
    background: linear-gradient(179.9deg, #FFFFFF 0.09%, rgba(255, 255, 255, 0) 181.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.head-content-sec {
    color: white;
    display: flex;
    justify-content: space-between;
    padding:2rem 6rem;
    font-size:1.2rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.head-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Carousel */
.mycarousel-our-products{
    padding:4rem 0;
}
.mySwiper{
    height: 100%;
    width: 100%;
}
.our-carousel-item{
    width: 100%;
    padding:5rem;
    /* height: 100%; */
}
.our-carousel-item-img{
    width:100%;
    height:450px;
}
.mycarousel-our-products .mySwiper .swiper-wrapper .our-carousel-item{
    width:100%;
}
.mycarousel-our-products .mySwiper .swiper-pagination .swiper-pagination-bullet{
    background-color: white;
}
.mycarousel-our-products .mySwiper .swiper-pagination .swiper-pagination-bullet-active{
    background-color: blue;
}
/* Info */
.info-our-products {
    width: 100%;
    height: 100%;
    position: relative;
}

.info-image {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-info-tag {
    width: 100%;
    height: 100vh;
}


.info-content {
    z-index: 90;
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
}

.info-image-content {
    display: flex;
    width: 100%;
    position: relative;
    top: 0;
    height: 100%;
    justify-content:center;
    z-index: 99;
}

.images-info {
    width: 90%;
    height: 90%;
    position: relative;
    padding: 4rem 1rem;
    display:flex;
    justify-content: center;
}

.img-mains {
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-tag-info {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
}

.img-content {
    width: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 3rem;
}

.info-content-main {
    font-family: 'Poppins';
    font-size: 1.2rem;
    height: 100%;
    z-index: 99;
}

.info-part-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    color: #D9A938;
}

.info-part-1-1,
.info-part-1-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #D9A938;
    padding: 1rem 0 5rem 0;
}

.info-part-2,
.info-part-3,
.info-part-4 {
    color: white;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width:600px) {
    .img-mains {
        width: 100%;
        height: 100%;
    }

    .img-content {
        width: 100%;
        height: 20%;
        font-size: 1rem;
    }

    .images-info {
        padding: 2rem 1%;
    }

    .info-content-main {
        padding: 0 2%;
    }

    .info-part-1 {
        display: block
    }

    .info-part-1-1,
    .info-part-1-2 {
        padding: 1rem 0;
    }

    .info-part-2,
    .info-part-3,
    .info-part-4 {
        font-size: 1rem
    }

    .info-part-2 {
        padding: 4rem 0 2rem 0;
    }

    .heading {
        height: 100%;
    }

    .head-image {
        display: none
    }

    .head-image-resp {
        display: block;
        overflow: hidden;
        position: relative;
    }

    .head-content {
        font-size: 3rem;
        bottom: 50%;
    }

    .head-content-sec {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 0.8rem;
        padding: 2rem 1rem;
    }

    /* carousel */
    .mycarousel-our-products{
        padding:1rem 0;
    }
    .mySwiper{
        height: 100%;
        width: 100%;
    }
    .our-carousel-item{
        width: 100%;
        height: 100%;
    }
    .our-carousel-item-img{
        width:150px;
        object-fit: fill;
        height: 200px;
    }
    .mycarousel-our-products .mySwiper .swiper-wrapper .our-carousel-item{
        width:100%;
        height: 100%;
    }
}